@import 'tailwindcss';
@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-primary: #5a3fff;
  --color-border: #4a5546;
  --animation-spin-slow: spin 2s cubic-bezier(1, 0, 0, 1) infinite;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}


@utility btn-link {
  @apply px-3 cursor-pointer font-medium underline disabled:cursor-not-allowed;
}

@utility h3 {
  @apply text-2xl leading-8 font-semibold text-slate-900;
}

@utility card {
  @apply bg-white/5 dark:text-slate-50 rounded-2xl border border-black/10 p-4 dark:border-border dark:bg-white/5 sm:p-5 md:p-6;
}

@utility page-title {
  @apply text-lg md:text-2xl font-semibold text-slate-900 dark:text-slate-50;
}

@utility page-sub {
  @apply text-base font-bold text-slate-900 dark:text-slate-50;
}

@utility no-scrollbar {
  @layer utilities {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  @font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url(../public/font/Poppins-Medium.ttf) format('truetype');
  }
}

.ReactCollapse--collapse {
  transition: height 250ms;
}

.top-loader {
  width: 100%;
  height: 1px;
  background: #1eca53;
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  50% {
    background: rgb(0, 0, 0, 0);
  }
}

.animitem {
}
